h1 {
    font-size: 24px;
    color: #005A31;
    margin-left: 25px;
    margin-right: 10;
}
h2 {
    font-size: 26px;
    color: #005A31;
    margin-left: 25px;
}
p {
    font-size: 20px;
    margin: 25px;
}
main {
    background-color: #F3FAB6;
}
article {
    margin-left: 25px;
    margin-right: 25px;
}
footer {
    background-color: #005A31;
    color: #F3FAB6;
}
a:hover{
     text-decoration:none;
 }
 a:visited {
    color: #FF5722;
 }
#first {
    font-size: 24px;
    color: #F3FAB6;
    background-color: #005A31;
    text-align: center;
}

#story {
    color: #005A31;
}

#parts {
     width: 50%;
     font-family: Verdana;
     text-align: top;
     margin-bottom:100;
     margin-left: 25px;
 }

#beginning {
    display: inline-block;
    background-color: #008080;
    color: #F3FAB6;
    border: 2px solid black;
    margin: 20px;
    width: 65%;
    padding: 25px;
}
#middle {
    
    background-color: #49796B;
    color: white;
    border: 2px solid black;
}
#end {
    background-color: white;
    border: 2px solid black;
}

#not_a_story{
    background-color: #669c83;
    border: 2px solid #492f16;
}

#cuivrepics{
    margin: 25px;
}

#castlewoodpics{
    margin: 25px;
}

.cuivre{
    max-width:45%;
    max-height:45%;
    display: inline-block;
}

#rotate90 {
    -webkit-transform:rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
 
.side {
    display:inline-block;
    vertical-align: top;
 }
.lock {
    position: absolute;
    width: 250px;
    background-color: #F3FAB6;
}
.free {
    display:inline-block;
    margin-left: 250px;
}
.explain{
    background-color: #F3FAB6;
    color:#005A31;
    margin: 100px;
}